ConsumindoCorreiosWSeBD/xml-resources/web-service-references/SalvaEnd/wsdl/localhost_8080/WebS.BD.Correios/SalvaEnd.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><xs:schema xmlns:tns="http://salvaend/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://salvaend/">

<xs:element name="salvaEnd" type="tns:salvaEnd"/>

<xs:element name="salvaEndResponse" type="tns:salvaEndResponse"/>

<xs:complexType name="salvaEnd">
<xs:sequence>
<xs:element name="cep" type="xs:string" minOccurs="0"/>
<xs:element name="rua" type="xs:string" minOccurs="0"/>
<xs:element name="bairro" type="xs:string" minOccurs="0"/>
<xs:element name="cidade" type="xs:string" minOccurs="0"/>
<xs:element name="uf" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="salvaEndResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>